body {
    background-color: darkgray;
    color: white;
}

.gradPic {
    width: 450px;
    height: 550px;
    box-shadow: 5px 5px #ddd;
    margin: 10px;
}

.nav {
    display: inline;
    list-style: none;
}

.bio {
    margin: auto;
    text-align: center;
    font-size: large;
}

.footer {
    margin-top: 10px;
}

.card-text {
    color: black;
}

.card {
    margin: 20px auto;
}
